{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <form method="POST">
        <input type="text" name="searchQuery" class="searchTerm" placeholder="What are you looking for?">
        <button type="submit" class="searchButton">submit</button>
    </form>
    <div>
        Searched For: {{ searchedFor }}
        {% for searchedFor in books %}
        <p>
        ISBN: {{ searchedFor["isbn"] }} <br>
        Author: {{ searchedFor["author"] }} <br>
        Title: {{ searchedFor["author"] }} <br>
        </p>
        {% endfor %}
    </div>
{% endblock content %}


